.selector-for-some-widget {
    box-sizing: content-box;
  }

  /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    /* overflow-x: hidden; */
    width: 100%;
    color: #444444;
  }
  
  a {
    color: #5CDB95;
    text-decoration: none;
  }
  
  a:hover {
    color: #8EE4AF;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    /* visibility: hidden;
    opacity: 0; */
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #213b52;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #5CDB95;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.d-block{
  height: 790px;
}
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: linear-gradient(180deg, #ecf8ff 0%, #fff 100%);
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #213b52;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #5CDB95;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
  }
  
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: #5CDB95;
  }
  #header .logo h1 {
    font-size: 25px;
    margin: 0;
    /* padding: 0 20px 0 0; */
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #EDF5E1;
    text-decoration: none;
  }
  #header .logo h1 a span, #header .logo h1 a:hover span {
    color: #05386B;
  }
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  @media(max-width:390px){
    #header .logo h1{
      font-size: 20px;
      margin-left: -1.2vw;
    }
  }
  @media(max-width:340px){
    #header .logo h1{
      font-size: 18px;
      margin-left: -3.2vw;
    }
  }

/* ----------------------- */
  /* navbar */
  /* ---------------------- */
  .navbar-nav a, .navbar-nav a:focus {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between !important;
    padding: 10px 10px 10px 20px !important;
    font-size: 14px !important;
    color: #05386B;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar-nav a i, .navbar-nav a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar-nav a:hover, .navbar-nav .active, .navbar-nav .active:focus, .navbar-nav li:hover > a {
    color: #EDF5E1;
  }
  .navbar-toggler{

    color: #8EE4AF !important;
    
  }
  .navbar-toggler-icon{

    color: #05386B !important;    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
  }
  .items :hover{
    background-color: #284864;
  }
  @media(max-width:390px){
    .navbar-toggler{
      font-size: 1.1rem;
    }
  }
  @media(max-width:390px){
    .navbar-toggler{
      font-size: 1rem;
    }
  }
  /* ------------------------------------*/
  /* --HOME----  */
  /* ------------------------------------- */
  #hero {
    width: 100%;

    padding: 0 0 0 0;
 
  }
  #hero h1 {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #EDF5E1;
    font-family: "Poppins", sans-serif;
  }
  .imgHome{
    height: 600px;
    width: 100%;
  }
  .carousel-caption{
    top:18.5rem !important;
  }
  .carousel-item{
    height: 90.02262443438914vh;
    /* height: fit-content; */
    min-height: 550px;

  }
  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 34px;
    color: #213b52;
  }
  .about .content p {
    margin-bottom: 0;
  }
  .about .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
    color: #213b52;
  }
  .about .content .icon-box h4 a {
    color: #213b52;
    transition: 0.3s;
  }
  .about .content .icon-box h4 a:hover {
    color: #5CDB95;
  }
  .about .content .icon-box i {
    font-size: 48px;
    float: left;
    color: #5CDB95;
  }
  .about .content .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
  }
  .about .image {
    background: url("./assets/img/about2.jpg") center center no-repeat;
    background-size: cover;
    min-height: 400px;
  }
   .getstarted, .getstarted:focus {
    background: #8EE4AF;
    color:#213b52;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 4px 25px 6px 25px;
    margin-left: 12px;
    /* margin-top: 10px; */
    margin-bottom: -20px;
    font-weight: 600; 
    /* border-radius: 50px; */
    border: 2px solid  #8EE4AF;
    transition: 1s ease-in-out;
  }
  .getstarted:hover, .getstarted:focus:hover {
    border: 2px solid #213b52;
    color:#213b52;
    /* transition: 1s ease; */
  }
  @media (max-width: 667px) {
    .about .image img {
      max-width: 100%;
    }
  }
/* --------------------- */
.card-img{
  height: 300px;
  width: 90%;
}

  /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
    padding-bottom: 40px;
  }
  .services .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
  }
  .services .card-img {
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  .services .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .services .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-top: -60px;
    margin-left: 30px;
    width: calc(100% - 60px);
  }
  @media (max-width: 640px) {
    .services .card-body {
      margin-left: 15px;
      width: calc(100% - 30px);
    }
  }
  .services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  .services .card-title a {
    color: #213b52;
    transition: 0.3s;
  }
  .services .card-text {
    color: #5e5e5e;
  }
  .services .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  .services .read-more a:hover {
    color: #5CDB95;
  }
  .services .card:hover img {
    transform: scale(1.1);
  }
  .services .card:hover .card-body {
    border-color: #5CDB95;
  }
  .services .card:hover .card-body .card-title a {
    color: #5CDB95;
  }
  /* ------------------------------------------------------------ */
  /* Comparison */

.table{
  color: #213b52;
}
  .table-striped>tbody>tr:nth-of-type(odd) {
    /* --bs-table-accent-bg: var(--bs-table-striped-bg);  */

  
     /* tr:nth-child(even) {
      background-color: lightpink;
      }
      tr:nth-child(odd){
        background-color: lightskyblue;
        }
  
      th {
         background-color: lightseagreen;
      } */
      color: #213b52;
    background-color:#e0fff0;
}

/* -------------------------------------------------------------------- */

  /*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .content + .content {
    margin-top: 100px;
  }
  .features .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #213b52;
  }
  .features .content ul {
    list-style: none;
    padding: 0;
  }
  .features .content ul li {
    padding-bottom: 10px;
  }
  .features .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5CDB95;
  }
  .features .content p:last-child {
    margin-bottom: 0;
  }

  /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    text-align: center;
    margin-bottom: 20px;
  }
  .team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    min-height: 260px;
  }
  .team .member .pic img {
    max-width: 80%;
    border-radius: 50%;
  }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #213b52;
  }
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 15px;
  }
  .team .member .social {
    margin-top: 15px;
  }
  .team .member .social a {
    color: #5289ba;
    transition: 0.3s;
  }
  .team .member .social a:hover {
    color: #5CDB95;
  }
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
  }
  .contact .info-box i {
    font-size: 32px;
    color: #5CDB95;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #fff7e5;
  }
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
  }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
    background-color: #5CDB95;
  }
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  .contact .php-email-form button[type=submit] {
    background:#5CDB95;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  .contact .php-email-form button[type=submit]:hover {
    background: #8EE4AF;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: url("./assets/img/footer-bg.jpg") center center no-repeat;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  #footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(26, 46, 64, 0.85);
    z-index: 1;
  }
  #footer .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 40px 0 0;
  }
  #footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #footer .footer-top p {
    font-size: 15;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
  }
  #footer .footer-top .footer-newsletter {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
  }
  #footer .footer-top .footer-newsletter form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #8EE4AF;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #8EE4AF;
  }
  #footer .footer-top .social-links {
    margin-top: 30px;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #284864;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #8EE4AF;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-bottom {
    border-top: 1px solid #1a2e40;
    z-index: 2;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright {
    text-align: center;
    /* float: left; */
  }
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
  }
  @media (max-width: 768px) {
    #footer .copyright, #footer .credits {
      padding: 5px;
      float: none;
      text-align: ceneter;
    }
  }
    